<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<h1>Urls</h1>
<%= render 'form', url: @url %>
<table class="table">
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Short URL</th>
      <th>Hit Count</th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td class="long-url"><%= url.long_url %></td>
        <% short_url = request.base_url + '/t/' + url.short_url_token %>
        <td><a href="<%= short_url %>"><%= short_url %></a></td>
        <td><%= url.hit_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
