// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.table {
  border-collapse: collapse;
  border: 1px solid black;
  max-width: 1200px;
}

.table tr td,
.table tr th {
  border: 1px solid black;
  padding: 12px;
  white-space: nowrap;
}

.table tr td.long-url {
  word-break: break-all;
  white-space: normal;
}


.form-wrapper {
  border: 1px solid black;
  margin-bottom: 50px;
  padding: 12px;
  max-width: 1200px;
}

.form-wrapper input[type=text] {
  width: 100%;
  border: 1px solid black;
  height: 24px;
  padding: 8px;

}


@media only screen and (max-width: 768px) {
  .table tr td {
    word-break: break-all;
    white-space: normal;
  }
}
